<p>
  <b>Nome:</b>
  <%=h @client.name %>
</p>

<p>
  <b>Telefone 1:</b>
  <%=h @client.tel1 %>
</p>

<p>
  <b>Telefone 2:</b>
  <%=h @client.tel2 %>
</p>

<p>
  <b>Conato:</b>
  <%=h @client.contact %>
</p>

<p>
  <b>Vinculado com:</b>
  <%=h @client.children.name rescue "" %>
</p>

<p>
  <b>Observação:</b>
  <%=h @client.observation %>
</p>


<%= link_to 'Edit', edit_admin_client_path(@client) %> |
<%= link_to 'Voltar', admin_clients_path %>
