<%= f.error_messages %>

<p>
	<%= f.label :name, "Nome" %><br />
	<%= f.text_field :name %>
</p>

<p>
	<%= f.label :email, "E-mail" %><br />
	<%= f.text_field :email %>
</p>

<p>
	<%= f.label :account_department, "Departamento" %><br />
	<%= f.collection_select(:account_department_id, AccountDepartment.all, :id, :name, :prompt => "Selecione o departamento") %>
</p>

<p>
	<%= f.label :is_actived, "Usuário ativo?" %><br />
	<%= f.check_box :is_actived %>
</p>

<p>
	<%= f.submit 'Salvar' %>
</p>
