<%= f.error_messages %>

<p>
	<%= f.label :name %><br />
	<%= f.text_field :name %>
</p>

<p>
	<%= f.label :email %><br />
	<%= f.text_field :email %>
</p>

<p>
	<%= f.label :account_department %><br />
	<%= f.collection_select(:account_department_id, AccountDepartment.all, :id, :name, :prompt => "Selecione o departamento") %>
</p>

<p>
	<%= f.label :is_actived %><br />
	<%= f.check_box :email %>
</p>

<p>
	<%= f.submit 'Salvar' %>
</p>
