<p>
  <b>Name:</b>
  <%=h @account.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @account.email %>
</p>

<p>
  <b>Account department:</b>
  <%=h @account.account_department %>
</p>


<%= link_to 'Edit', edit_admin_account_path(@account) %> |
<%= link_to 'Voltar', admin_accounts_path %>