<p>
  <b>Nome:</b>
  <%=h @account.name %>
</p>

<p>
  <b>E-mail:</b>
  <%=h @account.email %>
</p>

<p>
  <b>Departamento:</b>
  <%=h @account.account_department.name rescue "" %>
</p>


<%= link_to 'Edit', edit_admin_account_path(@account) %> |
<%= link_to 'Voltar', admin_accounts_path %>
