<h1>New technocal_client_address</h1>

<% form_for(@technocal_client_address) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :technical %><br />
    <%= f.text_field :technical %>
  </p>
  <p>
    <%= f.label :client_address %><br />
    <%= f.text_field :client_address %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', technocal_client_addresses_path %>