<p>
  <b>Nome:</b>
  <%=h @equipment.name %>
</p>

<p>
  <b>Descrição:</b>
  <%=h @equipment.description %>
</p>

<p>
  <b>Quantidade:</b>
  <%=h @equipment.amount %>
</p>

<p>
  <b>Enviado em:</b>
  <%=h @equipment.delivery_date %>
</p>


<%= link_to 'Edit', edit_admin_equipment_path(@equipment) %> |
<%= link_to 'Voltar', admin_equipment_path %>
