<h1>Editing orders_product</h1>

<% form_for(@orders_product) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :product %><br />
    <%= f.text_field :product %>
  </p>
  <p>
    <%= f.label :order %><br />
    <%= f.text_field :order %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :lote %><br />
    <%= f.text_field :lote %>
  </p>
  <p>
    <%= f.label :resolved %><br />
    <%= f.check_box :resolved %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @orders_product %> |
<%= link_to 'Back', orders_products_path %>