<h1>Listing orders_products</h1>

<table>
  <tr>
    <th>Product</th>
    <th>Order</th>
    <th>Amount</th>
    <th>Lote</th>
    <th>Resolved</th>
    <th>Description</th>
  </tr>

<% @orders_products.each do |orders_product| %>
  <tr>
    <td><%=h orders_product.product %></td>
    <td><%=h orders_product.order %></td>
    <td><%=h orders_product.amount %></td>
    <td><%=h orders_product.lote %></td>
    <td><%=h orders_product.resolved %></td>
    <td><%=h orders_product.description %></td>
    <td><%= link_to 'Show', orders_product %></td>
    <td><%= link_to 'Edit', edit_orders_product_path(orders_product) %></td>
    <td><%= link_to 'Destroy', orders_product, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New orders_product', new_orders_product_path %>