<%= f.error_messages %>

<p>
	<%= f.label :name, "Nome" %><br />
	<%= f.text_field :name %>
</p>

<p>
	<%= f.label :tel1, "Telefone 1" %><br />
	<%= f.text_field :tel1 %>
</p>

<p>
	<%= f.label :tel2, "Telefone 2" %><br />
	<%= f.text_field :tel2 %>
</p>

<p>
	<%= f.label :nextel %><br />
	<%= f.text_field :nextel %>
</p>

<p>
	<%= f.label :email, "E-mail" %><br />
	<%= f.text_field :email %>
</p>

<p>
	<%= f.label :regions %><br />
	<%# f.text_field :regions %>
</p>

<p>
	<%= f.submit 'Salvar' %>
</p>
