<p>
  <b>Nome:</b>
  <%=h @technical.name %>
</p>

<p>
  <b>Telefone 1:</b>
  <%=h @technical.tel1 %>
</p>

<p>
  <b>Telefone 2:</b>
  <%=h @technical.tel2 %>
</p>

<p>
  <b>Nextel:</b>
  <%=h @technical.nextel %>
</p>

<p>
  <b>E-mail:</b>
  <%=h @technical.email %>
</p>

<p>
  <b>Regiões:</b>
  <%=h @technical.regions %>
</p>


<%= link_to 'Edit', edit_admin_technical_path(@technical) %> |
<%= link_to 'Voltar', admin_technicals_path %>
