<p>
  <b>Name:</b>
  <%=h @technical.name %>
</p>

<p>
  <b>Tel1:</b>
  <%=h @technical.tel1 %>
</p>

<p>
  <b>Tel2:</b>
  <%=h @technical.tel2 %>
</p>

<p>
  <b>Nextel:</b>
  <%=h @technical.nextel %>
</p>

<p>
  <b>Email:</b>
  <%=h @technical.email %>
</p>

<p>
  <b>Regions:</b>
  <%=h @technical.regions %>
</p>


<%= link_to 'Edit', edit_admin_technical_path(@technical) %> |
<%= link_to 'Voltar', admin_technicals_path %>