<%= f.error_messages %>

<p>
	<%= f.label :order_type, "Tipo problema" %><br />
	<%= f.collection_select(:order_type_id, OrderType.all, :id, :name, :prompt => "Selecione o tipo") %>
</p>

<p>
	<%= f.label :order_category, "Categoria" %><br />
	<%= f.collection_select(:order_category_id, OrderCategory.all, :id, :name, :prompt => "Selecione a categoria") %>
</p>

<p>
	<%= f.label :client, "Cliente" %><br />
	<%= f.collection_select(:client_id, Client.all, :id, :name, :prompt => "Selecione o cliente") %>
</p>

<p>
	<%= f.label :account, "Usuário" %><br />
	<%= f.collection_select(:account_id, Account.all, :id, :name) %>
</p>

<p>
	<%= f.label :status, "Status" %><br />
	<%= f.select(:status, Order::STATUS.collect {|s| [ s, s ] } ) %>
</p>

<p>
	<%= f.label :description, "Descrição" %><br />
	<%= f.text_area :description %>
</p>
 
<p>
	<%= f.label :technical, "Técnico" %><br />
	<%= f.collection_select(:technical_id, Technical.all, :id, :name) %>
</p>

<p>
	<%= f.label :technical_information, "Técnico informado em" %><br />
	<%= f.datetime_select :technical_information, :order => [:day, :month, :year], :start_year => Time.now.year, :default => Time.now, :use_month_numbers => true %>
</p>
  
<p>
	<%= f.label :observation, "Observação" %><br />
	<%= f.text_area :observation %>
</p>
  
<p>
	<%= f.label :notification, "Notificado" %><br />
	<%= f.check_box :notification %>
</p>

<p>
	<%= f.label :first_call_fix, "Resolvido no primeiro atendimento" %><br />
	<%= f.check_box :first_call_fix %>
</p>

<p>
	<%= f.label :done, "Resolvido" %><br />
	<%= f.check_box :done %>
</p>
  
<p>
	<%= f.submit 'Salvar' %>
</p>
