<% content_for :ready do || %>
	<%= render :partial => '/admin/orders/js/product' %>
<% end %>

<%= f.error_messages %>

<p>
	<%= f.label :order_type, "Tipo do produto" %><br />
	<%= f.collection_select(:order_type_id, OrderType.all, :id, :name, :prompt => "Selecione o tipo") %>
</p>

<p>
	<%= f.label :order_category, "Tipo problema" %><br />
	<%= f.collection_select(:order_category_id, OrderCategory.all, :id, :name, :prompt => "Selecione a categoria") %>
</p>

<p>
	<%= f.label :client, "Cliente" %><br />
	<%= f.collection_select(:client_id, Client.all, :id, :name, :prompt => "Selecione o cliente") %>
</p>

<p>
	<%= f.label :account, "Chamado aberto por" %><br />
	<%= f.collection_select(:account_id, Account.all, :id, :name) %>
</p>

<p>
	<%= f.label :status, "Status" %><br />
	<%= f.select(:status, Order::STATUS.collect {|s| [ s, s ] } ) %>
</p>

<p>
	<%= f.label :description, "Descrição" %><br />
	<%= f.text_area :description %>
</p>

<p>
	<%= f.label :technical, "Técnico" %><br />
	<%= f.collection_select(:technical_id, Technical.all, :id, :name) %>
</p>

<p>
	<%= f.label :technical_information, "Técnico informado em" %><br />
	<%= f.datetime_select :technical_information, :order => [:day, :month, :year], :start_year => Time.now.year, :default => Time.now, :use_month_numbers => true %>
</p>

<p>
	<%= f.label :observation, "Observação" %><br />
	<%= f.text_area :observation %>
</p>

<h2>Produtos</h2>

<% unless @order.new_record? %>
	<div class='products_list'>
		<% @order.products.each do |product| %>
			<%= render :partial => '/admin/orders/shared/show_product', :locals => {:product => product}%>
		<% end %>
	</div>
	<div id="form_product"><!-- --></div>
	<div class='clear'><br/></div>
	<div class="add_product"><%= link_to 'Adicionar endereço', 'javascript: void(0)', :class => 'new_product' %></div>
<% else %>
	<div id="form_product">
		<% f.fields_for "products_attributes[]", OrdersProduct.new() do |product| %>
			<%= render :partial => '/admin/orders_products/form', :locals => {:f => product} %>
		<% end %>
	</div>
	
	<div class="add_product"><%= link_to 'Adicionar endereço', 'javascript: void(0)', :class => 'new_product' %></div>
<% end %>
  
<p>
	<%= f.label :notification, "Técnico notificado" %><br />
	<%= f.check_box :notification %>
</p>

<p>
	<%= f.label :first_call_fix, "Resolvido no primeiro atendimento" %><br />
	<%= f.check_box :first_call_fix %>
</p>

<p>
	<%= f.label :done, "Concluido" %><br />
	<%= f.check_box :done %>
</p>
  
<p>
	<%= f.submit 'Salvar' %>
</p>
