<h1>Listing orders</h1>

<table>
  <tr>
    <th>Order type</th>
    <th>Order category</th>
    <th>Client</th>
    <th>Account</th>
    <th>Technical</th>
    <th>Technical information</th>
    <th>Status</th>
    <th>Description</th>
    <th>Observation</th>
    <th>Notification</th>
    <th>First call fix</th>
    <th>Done</th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%=h order.order_type %></td>
    <td><%=h order.order_category %></td>
    <td><%=h order.client %></td>
    <td><%=h order.account %></td>
    <td><%=h order.technical %></td>
    <td><%=h order.technical_information %></td>
    <td><%=h order.status %></td>
    <td><%=h order.description %></td>
    <td><%=h order.observation %></td>
    <td><%=h order.notification %></td>
    <td><%=h order.first_call_fix %></td>
    <td><%=h order.done %></td>
    <td><%= link_to 'Visualizar', admin_order_path(order) %></td>
    <td><%= link_to 'Edit', edit_admin_order_path(order) %></td>
    <td><%= link_to 'Excluir', admin_order_path(order), :confirm => 'Tem certeza?', :method => :delete %> %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New order', new_admin_order_path %>