<h1>Listas chamados</h1>

<table>
  <tr>
    <th>Tipo</th>
    <th>Categoria</th>
    <th>Cliente</th>
    <th>Usuário</th>
    <th>Tecnico</th>
    <th>Tecnico informado em</th>
    <th>Status</th>
    <th>Notificado</th>
    <th>First call fix</th>
    <th>Concludo</th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%=h order.order_type.name rescue "" %></td>
    <td><%=h order.order_category.name rescue "" %></td>
    <td><%=h order.client.name rescue "" %></td>
    <td><%=h order.account.name rescue "" %></td>
    <td><%=h order.technical.name rescue "" %></td>
    <td><%=h order.technical_information %></td>
    <td><%=h order.status %></td>
    <td><%=h order.notification %></td>
    <td><%=h order.first_call_fix %></td>
    <td><%=h order.done %></td>
    <td><%= link_to 'Visualizar', admin_order_path(order) %></td>
    <td><%= link_to 'Edit', edit_admin_order_path(order) %></td>
    <td><%= link_to 'Excluir', admin_order_path(order), :confirm => 'Tem certeza?', :method => :delete %> %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo chamado', new_admin_order_path %>
