<h1>New order</h1>

<% form_for([:admin, @order]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :order_type %><br />
    <%= f.text_field :order_type %>
  </p>
  <p>
    <%= f.label :order_category %><br />
    <%= f.text_field :order_category %>
  </p>
  <p>
    <%= f.label :client %><br />
    <%= f.text_field :client %>
  </p>
  <p>
    <%= f.label :account %><br />
    <%= f.text_field :account %>
  </p>
  <p>
    <%= f.label :technical %><br />
    <%= f.text_field :technical %>
  </p>
  <p>
    <%= f.label :technical_information %><br />
    <%= f.datetime_select :technical_information %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :observation %><br />
    <%= f.text_area :observation %>
  </p>
  <p>
    <%= f.label :notification %><br />
    <%= f.check_box :notification %>
  </p>
  <p>
    <%= f.label :first_call_fix %><br />
    <%= f.check_box :first_call_fix %>
  </p>
  <p>
    <%= f.label :done %><br />
    <%= f.check_box :done %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Voltar', admin_orders_path %>