<p>
  <b>Tipo:</b>
  <%=h @order.order_type %>
</p>

<p>
  <b>Categoria:</b>
  <%=h @order.order_category %>
</p>

<p>
  <b>Cliente:</b>
  <%=h @order.client %>
</p>

<p>
  <b>Usuário:</b>
  <%=h @order.account %>
</p>

<p>
  <b>Técnico:</b>
  <%=h @order.technical %>
</p>

<p>
  <b>Técnico informado:</b>
  <%=h @order.technical_information %>
</p>

<p>
  <b>Status:</b>
  <%=h @order.status %>
</p>

<p>
  <b>Descrição:</b>
  <%=h @order.description %>
</p>

<p>
  <b>Observação:</b>
  <%=h @order.observation %>
</p>

<p>
  <b>Notificado técnico:</b>
  <%=h @order.notification %>
</p>

<p>
  <b>First call fix:</b>
  <%=h @order.first_call_fix %>
</p>

<p>
  <b>Concluido:</b>
  <%=h @order.done %>
</p>


<%= link_to 'Edit', edit_admin_order_path(@order) %> |
<%= link_to 'Voltar', admin_orders_path %>
