<%= f.error_messages %>

<p>
  <%= f.label :title, "Indentificação do endereço" %><br />
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :address, "Endereço" %><br />
  <%= f.text_field :address %>
</p>

<p>
  <%= f.label :city, "Cidade" %><br />
  <%= f.text_field :city %>
</p>

<p>
  <%= f.label :state, "Estado" %><br />
  <%= f.text_field :state %>
</p>

<p>
  <%= f.label :district, "Bairro" %><br />
  <%= f.text_field :district %>
</p>

<p>
  <%= f.label :zipcode, "CEP" %><br />
  <%= f.text_field :zipcode %>
</p>

<p>
  <%= f.label :default, "Endereço padrão?" %><br />
  <%= f.check_box :default %>
</p>
