<%= f.error_messages %>

<p>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :address %><br />
  <%= f.text_field :address %>
</p>

<p>
  <%= f.label :city %><br />
  <%= f.text_field :city %>
</p>

<p>
  <%= f.label :state %><br />
  <%= f.text_field :state %>
</p>

<p>
  <%= f.label :district %><br />
  <%= f.text_field :district %>
</p>

<p>
  <%= f.label :zipcode %><br />
  <%= f.text_field :zipcode %>
</p>

<p>
  <%= f.label :default %><br />
  <%= f.check_box :default %>
</p>
