<p>
  <b>Cliente:</b>
  <%=h @client_address.client.name rescue "" %>
</p>

<p>
  <b>Indentificação do endereço:</b>
  <%=h @client_address.title %>
</p>

<p>
  <b>Endereço:</b>
  <%=h @client_address.address %>
</p>

<p>
  <b>Cidade:</b>
  <%=h @client_address.city %>
</p>

<p>
  <b>Estado:</b>
  <%=h @client_address.state %>
</p>

<p>
  <b>Bairro:</b>
  <%=h @client_address.district %>
</p>

<p>
  <b>CEP:</b>
  <%=h @client_address.zipcode %>
</p>

<p>
  <b>Padrão:</b>
  <%=h @client_address.default %>
</p>


<%= link_to 'Edit', edit_admin_client_address_path(@client_address) %> |
<%= link_to 'Voltar', admin_client_addresses_path %>
