<ul>
	<li><%= link_to "Clientes", admin_clients_path %></li>
	<li><%= link_to "Categorias de produtos", admin_product_categories_path %></li>
	<li><%= link_to "Produtos", admin_products_path %></li>
	<li><%= link_to "Técnicos", admin_technicals_path %></li>
	<li><%= link_to "Chamados", admin_orders_path %></li>
	<li><%= link_to "Tipos dos chamados", admin_order_types_path %></li>
	<li><%= link_to "Categoria dos chamados", admin_order_categories_path %></li>
	<li><%= link_to "Equipamentos", admin_equipments_path %></li>
	<li><%= link_to "Departamentos", admin_account_departments_path %></li>
</ul>
