<h1>Listing order_categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% @order_categories.each do |order_category| %>
  <tr>
    <td><%=h order_category.name %></td>
    <td><%=h order_category.description %></td>
    <td><%= link_to 'Show', order_category %></td>
    <td><%= link_to 'Edit', edit_order_category_path(order_category) %></td>
    <td><%= link_to 'Destroy', order_category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New order_category', new_order_category_path %>