<%= f.error_messages %>

<p>
	<%= f.label :product, "Produto" %><br />
	<%= f.collection_select(:product_id, Product.all, :id, :name) %>
</p>

<p>
	<%= f.label :amount, "Quantidade" %><br />
	<%= f.text_field :amount %>
</p>

<p>
	<%= f.label :lote %><br />
	<%= f.text_field :lote %>
</p>

<p>
	<%= f.label :description, "Problema com o produto" %><br />
	<%= f.text_area :description %>
</p>
