<h1>Listing orders_products</h1>

<table>
  <tr>
    <th>Produto</th>
    <th>Chamado</th>
    <th>Quantidade</th>
    <th>Lote</th>
    <th>Resolvido?</th>
  </tr>

<% @orders_products.each do |orders_product| %>
  <tr>
    <td><%=h orders_product.product %></td>
    <td><%=h orders_product.order %></td>
    <td><%=h orders_product.amount %></td>
    <td><%=h orders_product.lote %></td>
    <td><%=h orders_product.resolved %></td>
    <td><%= link_to 'Visualizar', admin_orders_product_path(orders_product) %></td>
    <td><%= link_to 'Edit', edit_admin_orders_product_path(orders_product) %></td>
    <td><%= link_to 'Excluir', admin_orders_product_path(orders_product), :confirm => 'Tem certeza?', :method => :delete %> %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New orders_product', new_admin_orders_product_path %>
