<%= f.error_messages %>

<p>
	<%= f.label :technical, "Técnico" %><br />
	<%= f.collection_select(:technical_id, Technical.all, :id, :name, :prompt => "Selecione um técnico") %>
</p>

<p>
	<%= f.label :confirmation, "Confirmação envio" %><br />
	<%= f.check_box :confirmation %>
</p>

<p>
	<%= f.label :archive, "Arquivado" %><br />
	<%= f.check_box :archive %>
</p>
