<p>
  <b>Equipment:</b>
  <%=h @technicals_equipment.equipment %>
</p>

<p>
  <b>Technical:</b>
  <%=h @technicals_equipment.technical %>
</p>

<p>
  <b>Confirmation:</b>
  <%=h @technicals_equipment.confirmation %>
</p>

<p>
  <b>Archive:</b>
  <%=h @technicals_equipment.archive %>
</p>


<%= link_to 'Edit', edit_admin_technicals_equipment_path(@technicals_equipment) %> |
<%= link_to 'Voltar', admin_technicals_equipments_path %>