<h1>Listing technicals</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Tel1</th>
    <th>Tel2</th>
    <th>Nextel</th>
    <th>Email</th>
    <th>Regions</th>
  </tr>

<% @technicals.each do |technical| %>
  <tr>
    <td><%=h technical.name %></td>
    <td><%=h technical.tel1 %></td>
    <td><%=h technical.tel2 %></td>
    <td><%=h technical.nextel %></td>
    <td><%=h technical.email %></td>
    <td><%=h technical.regions %></td>
    <td><%= link_to 'Show', technical %></td>
    <td><%= link_to 'Edit', edit_technical_path(technical) %></td>
    <td><%= link_to 'Destroy', technical, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New technical', new_technical_path %>