<%= f.error_messages %>

<p>
	<%= f.label :name %><br />
	<%= f.text_field :name %>
</p>

<p>
	<%= f.label :cod %><br />
	<%= f.text_field :cod %>
</p>

<p>
	<%= f.label :cod_universal %><br />
	<%= f.text_field :cod_universal %>
</p>

<p>
	<%= f.label :description %><br />
	<%= f.text_area :description %>
</p>

<p>
	<%= f.label :product_category %><br />
	<%= f.collection_select(:product_category, ProductCategory.all, :id, :name, :prompt => true) %>
</p>

<p>
	<%= f.submit 'Create' %>
</p>
