<h1>Editing order_category</h1>

<% form_for([:admin, @order_category]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Visualizar', admin_order_category_path(@order_category) %> |
<%= link_to 'Voltar', admin_order_categories_path %>