<h1>Listas de categorias</h1>

<table>
  <tr>
    <th>Nome</th>
  </tr>

<% @order_categories.each do |order_category| %>
  <tr>
    <td><%=h order_category.name %></td>
    <td><%= link_to 'Visualizar', admin_order_category_path(order_category) %></td>
    <td><%= link_to 'Edit', edit_admin_order_category_path(order_category) %></td>
    <td><%= link_to 'Excluir', admin_order_category_path(order_category), :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova categoria', new_admin_order_category_path %>
