<h1>Listas technocal_client_addresses</h1>

<table>
  <tr>
    <th>Técnico</th>
    <th>Client address</th>
  </tr>

<% @technocal_client_addresses.each do |technocal_client_address| %>
  <tr>
    <td><%=h technocal_client_address.technical %></td>
    <td><%=h technocal_client_address.client_address %></td>
    <td><%= link_to 'Visualizar', admin_technocal_client_address_path(technocal_client_address) %></td>
    <td><%= link_to 'Edit', edit_admin_technocal_client_address_path(technocal_client_address) %></td>
    <td><%= link_to 'Excluir', admin_technocal_client_address_path(technocal_client_address), :confirm => 'Tem certeza?', :method => :delete %> %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New technocal_client_address', new_admin_technocal_client_address_path %>
